*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: black;
}

/* Start button */
/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    align-items: center;
    justify-content: center;
    z-index: 1; */
    /* height: 100%;
    width: 100%;
    display: flex; it will only affect the children
    justify-content: center;
    align-items: center; */
/* } */

.press-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startBtn {
    /* position: absolute; */
    /* top: 100px; */
    /* left: 250px; */
    width: 400px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    z-index: 1;
}

/* Start: neon-effect */
#startBtn {
    padding: 15px 15px;
    color: #2196f3;
    background: #031321;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 30px;
}

#startBtn:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.01s;
}

/* #startBtn span {
    (position: absolute;)
    position: relative;
    display: block;
}

#startBtn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #2196f3);
}

#startBtn:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

#startBtn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

#startBtn:hover span:nth-child(3) {
    left: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#startBtn span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, transparent, #2196f3);
}

#startBtn:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay:0.25s;
}

#startBtn span:nth-child(4) {
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(360deg, transparent, #2196f3);
}

#startBtn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
} **/
/* End: neon-effect */

#congratulations {
    color: white;
}

/* .turn-count{
    position: absolute;
    top: 200px;
    color: greenyellow;
} */

/* .greenScore,
.redReset {
    position: absolute;
    top: 2000;
    bottom: 0;
    left: 0;
    right:0;
    display: flex;
    align-items: bottom;
    justify-content: center; */
    /* z-index: 1; */
/* } */

#score {
    font-size: 50px;
    margin: 30px;
    margin-left: 50px;
    margin-bottom: 200px;
    color: greenyellow;
}

#count {
    font-size: auto;
    /* margin: 30px;
    margin-left: 5px;
    margin-bottom: 200px; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    color: greenyellow;
}


.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    /* z-index: -10; */
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.33%-10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}


.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #ffffff;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}   

.hide {
    display:none;
}

#reset {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

a {
    color: red;
    column-gap: 50px;
}

.greenScore,
.redReset {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex:
    justify-content: center;
    vertical-align: top;
    /* display: flex;
    justify-content: center; */
}
#count {
    display: flex;
    justify-content: center;
}

#reset {
    display: flex;
    justify-content: center;
}

#game-over {
    color: red;
    display: flex;
    justify-content: center;
}