
/* head, header {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: black;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: black;
}

div, body {
    color: #D9414E;
    font-family: "Montserrat", sans-serif;
    margin: 15px 0;
    padding: 10px;
    text-align: center;
} */

/* Start of NavBar CSS */ /*seems to be not working*/
/* #site-header-wrapper{
    position: top;
    top: 0;
    left: 0;
    margin: 0;
    border: 0;
    width: 100%;
    font-size: 100%;
} */
/* .navbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 80px;
} */
/* End of NavBar CSS */

/* Start of video CSS */
/* header {
    background: url (video-free.png);
    height: 100vh;
    margin-bottom: 2rem;
    background-size: cover;
}

video {
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
} */


/*.video-logo-overlay { /*in relation to the nearest ancestor: header
    position: absolute; /*removes the overlay from the flow of the document
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/
/* End of video CSS */


/* Start of logo CSS*/
/* #legend-logo {
    width: 1200px;
    height: 700px;
} */
/* End of logo  CSS*/

/* Start of button neon effect CSS*/
 /* #playbtn {
    position: relative;
    padding: 15px 30px;
    color: #2196f3;
    background: #031321;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 100px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 30px;
}
 
#playbtn:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.7s;
}

#playbtn span {
    position: absolute;
    display: block;
}

#playbtn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent, #2196f3);
}

#playbtn:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

#playbtn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

#playbtn:hover span:nth-child(3) {
    left: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#playbtn span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, transparent, #2196f3);
}

#playbtn:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay:0.25s;
}

#playbtn span:nth-child(4) {
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(360deg, transparent, #2196f3);
}

#playbtn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
} */
/* End of button neon effect  CSS*/

/*Start of error message*/
/* @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: #D8000C;
    background-color: #FFBABA;
  } */
/*End of error message*/
.game-board {
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    width: 100px;
    margin: auto;
} 

img {
    height: auto;
    width: auto;
    margin: 10px;
    border-radius: 10px;
}
/* .carousel-inner img {
    display: inline-block;
    width: 100px;
    height: 200px;
    border-radius: 10px; this gives the curve at the corners
    margin: 5px;
} */

